<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwzk.dao.i.da.FlowDataItemMapper" >
  <resultMap id="BaseResultMap" type="com.bwzk.pojo.FlowDataItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="mj" property="mj" jdbcType="VARCHAR" />
    <result column="bgqx" property="bgqx" jdbcType="VARCHAR" />
    <result column="arcid" property="arcid" jdbcType="DECIMAL" />
    <result column="ys" property="ys" jdbcType="DECIMAL" />
    <result column="fs" property="fs" jdbcType="DECIMAL" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="datadepid" property="datadepid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, pid, tablename, keyword, title, mj, bgqx, arcid,bz,ys,fs,datadepid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bwzk.pojo.FlowDataItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FLOW_MID_DATA_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from FLOW_MID_DATA_ITEM
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FLOW_MID_DATA_ITEM
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bwzk.pojo.FlowDataItemExample" >
    delete from FLOW_MID_DATA_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bwzk.pojo.FlowDataItem" >
    insert into FLOW_MID_DATA_ITEM (id, pid, tablename,
    keyword, title, mj,
    bgqx, arcid,ys,fs,bz,datadepid)
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{tablename,jdbcType=VARCHAR},
    #{keyword,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{mj,jdbcType=VARCHAR},
    #{bgqx,jdbcType=VARCHAR}, #{arcid,jdbcType=DECIMAL}, #{ys,jdbcType=DECIMAL}
    , #{fs,jdbcType=DECIMAL}, #{bz,jdbcType=VARCHAR}, #{datadepid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bwzk.pojo.FlowDataItem" >
    insert into FLOW_MID_DATA_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="mj != null" >
        mj,
      </if>
      <if test="bgqx != null" >
        bgqx,
      </if>
      <if test="arcid != null" >
        arcid,
      </if>
      <if test="ys != null" >
        ys,
      </if>
      <if test="fs != null" >
        fs,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="datadepid != null" >
        datadepid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="mj != null" >
        #{mj,jdbcType=VARCHAR},
      </if>
      <if test="bgqx != null" >
        #{bgqx,jdbcType=VARCHAR},
      </if>
      <if test="arcid != null" >
        #{arcid,jdbcType=DECIMAL},
      </if>
      <if test="ys != null" >
        #{ys,jdbcType=DECIMAL},
      </if>
      <if test="fs != null" >
        #{fs,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="datadepid != null" >
        #{datadepid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bwzk.pojo.FlowDataItemExample" resultType="java.lang.Integer" >
    select count(*) from FLOW_MID_DATA_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FLOW_MID_DATA_ITEM
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.tablename != null" >
        tablename = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null" >
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.mj != null" >
        mj = #{record.mj,jdbcType=VARCHAR},
      </if>
      <if test="record.bgqx != null" >
        bgqx = #{record.bgqx,jdbcType=VARCHAR},
      </if>
      <if test="record.arcid != null" >
        arcid = #{record.arcid,jdbcType=DECIMAL},
      </if>
      <if test="record.fs != null" >
        fs = #{record.fs,jdbcType=DECIMAL},
      </if>
      <if test="record.ys != null" >
        ys = #{record.ys,jdbcType=DECIMAL},
      </if>
      <if test="record.bz != null" >
        bz = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.datadepid != null" >
        datadepid = #{record.datadepid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FLOW_MID_DATA_ITEM
    set id = #{record.id,jdbcType=VARCHAR},
    pid = #{record.pid,jdbcType=VARCHAR},
    tablename = #{record.tablename,jdbcType=VARCHAR},
    keyword = #{record.keyword,jdbcType=VARCHAR},
    title = #{record.title,jdbcType=VARCHAR},
    mj = #{record.mj,jdbcType=VARCHAR},
    bgqx = #{record.bgqx,jdbcType=VARCHAR},
    arcid = #{record.arcid,jdbcType=DECIMAL},
    ys = #{record.ys,jdbcType=DECIMAL},
    fs = #{record.fs,jdbcType=DECIMAL},
    bz = #{record.bz,jdbcType=VARCHAR},
    datadepid = #{record.datadepid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bwzk.pojo.FlowDataItem" >
    update FLOW_MID_DATA_ITEM
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="mj != null" >
        mj = #{mj,jdbcType=VARCHAR},
      </if>
      <if test="bgqx != null" >
        bgqx = #{bgqx,jdbcType=VARCHAR},
      </if>
      <if test="arcid != null" >
        arcid = #{arcid,jdbcType=DECIMAL},
      </if>
      <if test="fs != null" >
        fs = #{fs,jdbcType=DECIMAL},
      </if>
      <if test="ys != null" >
        ys = #{ys,jdbcType=DECIMAL},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="datadepid != null" >
        datadepid = #{datadepid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bwzk.pojo.FlowDataItem" >
    update FLOW_MID_DATA_ITEM
    set pid = #{pid,jdbcType=VARCHAR},
      tablename = #{tablename,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      mj = #{mj,jdbcType=VARCHAR},
      bgqx = #{bgqx,jdbcType=VARCHAR},
      arcid = #{arcid,jdbcType=DECIMAL},
      ys = #{ys,jdbcType=DECIMAL},
      fs = #{fs,jdbcType=DECIMAL},
      bz = #{bz,jdbcType=VARCHAR},
      datadepid = #{datadepid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>