<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwzk.dao.i.OaUserMapper" >
  <resultMap id="BaseResultMap" type="com.bwzk.pojo.OaUser" >
    <result column="loginid" property="loginid" jdbcType="VARCHAR" />
    <result column="lastname" property="lastname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="departmentid" property="departmentid" jdbcType="VARCHAR" />
    <result column="subcompanyid1" property="subcompanyid1" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    loginid, lastname, email, departmentid, subcompanyid1, status, id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bwzk.pojo.OaUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_users_hr_ryxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bwzk.pojo.OaUserExample" >
    delete from oa_users_hr_ryxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bwzk.pojo.OaUser" >
    insert into oa_users_hr_ryxx (loginid, lastname, email, 
      departmentid, subcompanyid1, status, 
      id)
    values (#{loginid,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{departmentid,jdbcType=VARCHAR}, #{subcompanyid1,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bwzk.pojo.OaUser" >
    insert into oa_users_hr_ryxx
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        loginid,
      </if>
      <if test="lastname != null" >
        lastname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="departmentid != null" >
        departmentid,
      </if>
      <if test="subcompanyid1 != null" >
        subcompanyid1,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="id != null" >
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="departmentid != null" >
        #{departmentid,jdbcType=VARCHAR},
      </if>
      <if test="subcompanyid1 != null" >
        #{subcompanyid1,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bwzk.pojo.OaUserExample" resultType="java.lang.Integer" >
    select count(*) from oa_users_hr_ryxx
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update oa_users_hr_ryxx
    <set >
      <if test="record.loginid != null" >
        loginid = #{record.loginid,jdbcType=VARCHAR},
      </if>
      <if test="record.lastname != null" >
        lastname = #{record.lastname,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentid != null" >
        departmentid = #{record.departmentid,jdbcType=VARCHAR},
      </if>
      <if test="record.subcompanyid1 != null" >
        subcompanyid1 = #{record.subcompanyid1,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update oa_users_hr_ryxx
    set loginid = #{record.loginid,jdbcType=VARCHAR},
      lastname = #{record.lastname,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      departmentid = #{record.departmentid,jdbcType=VARCHAR},
      subcompanyid1 = #{record.subcompanyid1,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>